<header>
  <h1><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h1>
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
    <div>
      {% for cat in include.post.categories %}
      <a href="/topics/#{{ cat }}" class="topic" target="_blank">{{ cat }}</a>
      {% endfor %}
      {% for cat in include.post.tags %}
      <a href="/topics/#{{ cat }}" class="topic" target="_blank">{{ cat }} </a>
      {% endfor %}
    </div>

</header>
